@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&family=Tiro+Bangla:ital@0;1&display=swap');

@import "tailwindcss";
@plugin "daisyui";

@plugin "daisyui/theme" {
    name: "light";
    default: true;
    --color-primary: #3B82F6;
    --color-secondary: #27292b;
    --color-accent: #e0ad1f;
}

body {
    font-family: "Roboto", "Tiro Bangla", serif;
}
